fastapi
uvicorn[standard]
sqlalchemy
pydantic>=2
python-dotenv
httpx
python-multipart

# Đăng nhập
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]

# Nhận diện khuôn mặt
opencv-python
numpy
insightface
onnxruntime
faiss-cpu

# (tuỳ chọn) đồng bộ school.db lên Hugging Face Dataset:  pip install huggingface_hub
